.container{
  padding: 0;
  display: flex;
  margin-left: -8px;
  margin-top: -8px;
  width: 100%;
  height: 33rem;
  align-items: center;
  flex-direction: column;
  position: absolute;

  background-image: url(../assets/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 6rem;
}

.small-title {
 color: #E45858;
 font-size: 16px;
 font-weight: 500;
 letter-spacing: 0.1em;
 text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 125%;
  font-weight: 700;
}

h1 span {
  color: #6246EA;
}

.actions {
  display: flex;
  justify-content: space-around;
  gap:1.5rem;
  width: 62rem;
  padding: 2.5rem;
  background-color: #FFF;
  border-radius: 6px;
}

input {
  border: 0;
  height: 3rem;
  width: 40%;
  background-color: #F4F4FF;
  color: #7C7C8A;
  padding: 0.5rem 0.75rem;
  border-radius: 5px;
}

.button {
  border:0;
  height: 3rem;
  padding: 0.75rem 2rem;
  width: 20%;
  border-radius: 5px;
  background-color: #6246EA;
  color: #FFF;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;

}

.button:hover {
    background-color: #7048dd;
    transition: 0.3s;
}

.select {
  border: 0;
  background-color: #F4F4FF;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  color: #7C7C8A;
  height: 3rem;
  width: 40%
}




